/.quasar
/.quasar
/.vscode
/admin_tools/lib
/admin_tools/node_modules
/emulators/backup
/emulators/fs
/dist
/functions/lib
/functions/node_modules
/functions/fonts
/mydata
/src-capacitor
/src-cordova
/src-pwa
/node_modules
/src-bex/www
/src-ssr
babel.config.js
./.eslintrc.cjs
